.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
   
}

.background{
    overflow-x: hidden;
    background-image: linear-gradient(rgba(59, 58, 58, 0.527),rgba(0, 0, 0, 0.5)) , url("bg.jpg"); /* The image used */
        background-color: #dd9696; /* Used if the image is unavailable */
        height: 400px; /* You must set a specified height */
        background-position: center center fixed; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
       
}



.bme1{
    position: absolute;
    top:30px;
    letter-spacing: 20px;
    -webkit-text-stroke: 3px black;
    text-align: center;
    font-family: fantasy;
    font-size:100px;
    color: rgba(22, 236, 22, 0.233);
    text-shadow:1px 1px 1px #00000038, 0 0 25px rgba(37, 37, 49, 0.493), 0 0 5px rgba(8, 8, 114, 0.212);
    

}

.bme2{
    position: absolute;
    
    box-sizing: content;
    top:310px;
    text-align:center;
    right:5px;
    justify-content: center;
    font-family: serif;
    color:white;
    margin: 0 0;
    padding: 0 0;
}


.welcome{
        overflow-x: hidden;
         background: linear-gradient(rgba(9, 43, 2, 0.527),rgba(17, 97, 6, 0.575)) ; /* The image used */
       
        height: 100px; /* You must set a specified height */
        background-position: center center fixed; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
       
}

.welcome marquee {
      color:white;
      text-align:center;
      font-size :30px;
      align-items: center;
      justify-content: center;
      padding: 30px 20px ;
      text-shadow: 2px 2px black;
}

.story{
    overflow-x: hidden;
    background: linear-gradient(rgba(204, 209, 203, 0.527),rgba(167, 216, 161, 0.575)) ; /* The image used */
  
   height: 350px; /* You must set a specified height */
   background-position: center center fixed; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover; /* Resize the background image to cover the entire container */
}


.story p{
    text-align:justify;
    font-family:sans-serif;
    color:rgb(0, 0, 0);
    text-decoration: rgb(247, 248, 248);
    font-size:18px;
    
}